.bg-body {
    height: 100vh;
    overflow: hidden;
}

.ant-layout-content {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.song-info {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.ant-layout {
    height: 100%;
    padding: 0 !important;
    .ant-layout-content {
        height: 100%;
    }
}

*::-webkit-scrollbar {
    display: none;
}